.footer-wrapper {
  max-width: 100%;
  background-color: #ffdf39;


  .dividing-line {
    background-color: #141313;
    display: flex;
    align-items: flex-end;

    img {
      width: 100%;
    }
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    @media(max-width: 992px) {
      flex-direction: column;
    }

    .footer-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 5% 0;
      @media(max-width: 992px) {
        width: 100%;
        text-align: center;
      }

      .footer-title {
        font-size: 40px;
        font-family: Gilroy-Bold, sans-serif;
        margin: 3% 15%;
        @media(max-width: 992px) {
          font-size: 36px;
        }
        @media(max-width: 768px) {
          font-size: 34px;
        }
        @media(max-width: 576px) {
          text-align: left;
          margin: 3% 7%;
          font-size: 30px;
        }
        @media(max-width: 400px) {
          font-size: 24px;
        }
        @media(max-width: 400px) {
          font-size: 22px;
        }
      }

      .footer-subtitle {
        font-size: 20px;
        font-family: Gilroy-Medium, sans-serif;
        margin: 2% 15%;
        @media(max-width: 576px) {
          text-align: left;
          margin: 3% 7%;
        }

        @media(max-width: 400px) {
          font-size: 18px;
        }
      }

      .footer-phone {
        font-size: 40px;
        font-family: Gilroy-Medium, sans-serif;
        margin: 1% 0;
        @media(max-width: 992px) {
          font-size: 36px;
        }
        @media(max-width: 768px) {
          font-size: 34px;
        }
        @media(max-width: 576px) {
          font-size: 30px;
        }
        @media(max-width: 400px) {
          font-size: 22px;
        }

        a {
          color: black;
        }
      }

      .footer-address {
        font-size: 20px;
        font-family: Gilroy-SemiBold, sans-serif;
        margin: 1% 0;
        @media(max-width: 400px) {
          font-size: 18px;
        }
      }

      .footer-button {
        height: 50px;
        width: 200px;
        margin: 2% 0;
        @media(max-width: 992px) {
          margin: 2% 0;
          height: 40px;
          width: 180px;
        }


        button {
          height: 100%;
          width: 100%;
          color: white;
          border-radius: 30px;
          padding: 2% 5% 2% 5%;
          background: linear-gradient(0, #900 0%, red 100%);
          font-family: Gilroy-Medium, sans-serif;
          font-size: 18px;
        }

        button:hover {
          box-shadow: 1px 1px 9px 1px rgba(169, 169, 169, .7);
          background: #fc0000;
          font-size: 19px;
        }
      }
    }

    .footer-right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @media(max-width: 992px) {
        width: 100%;
      }

      img {
        max-width: 100%;
        @media(max-width: 992px) {
          max-width: 50%;
        }
        @media(max-width: 768px) {
          margin-bottom: 50px;
        }
      }
    }
  }
}