.wrapper {
  max-width: 100vw;
  min-height: 100%;
  background-color: #141313;
  position: relative;
  overflow-x: hidden;
}

.wrapper-blocked {
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
  background-color: #141313;
  position: fixed;
}


.questions {
  position: sticky;
  top: 86vh;
  left: 83vw;
  height: 1px;
  width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @media(max-width: 768px) {
    display: none;
  }
    @media(max-height: 600px) {
    display: none;
  }

  button {
    height: 80px;
    width: 240px;
    color: white;
    border-radius: 20px;
    padding: 14px 25px;
    background: linear-gradient(0, #900 0%, red 100%);
    font-family: Gilroy-Medium, sans-serif;
    font-size: 18px;
    line-height: 1.25;

  }

  button:hover {
    box-shadow: 1px 1px 9px 1px rgba(169, 169, 169, .7);
    background: #fc0000;
  }
}